/* Fuentes cargadas desde local */
@font-face {
  font-family: StarWars;
  src: url("Starjedi.ttf");
}

@font-face {
  font-family: RobotoSlab-Regular;
  src: url("RobotoSlab-Regular.ttf");
}

body {
  /* Reseteo los márgenes/paddings a 0 */
  padding: 0;
  margin: 0;
  /* Asigno color al fondo */
  /*background-color: grey;*/
  background: url("../img/background.jpg");
  font-family: RobotoSlab-Regular;
}

/* Wrapper que engloba a toda la página*/
.wrapper {
  /* Display en flex, columnas y que pegue el contenido */
  display: flex;
  flex-flow: column wrap;
  flex: 1;
}

/* Wrapper que engloba el contenido principal */
.contenido {
  margin: auto;
  /* Alineación central */
  width: 90%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

/* Cabecera */
header {
  background: url("../img/header.jpg") no-repeat top;
  background-size: cover;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

header h1 {
  /* Aplico la fuente cargada desde local */
  font-family: StarWars;
  color: white;
  text-align: center;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
    1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

/* Menú de navegación */
nav {
  /* Degradado de colores en el fondo */
  background: linear-gradient(
    180deg,
    rgba(31, 39, 48, 1) 46%,
    rgba(69, 143, 158, 1) 100%
  );
}

/* Navegación nivel 1 */
nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul li {
  display: block;
  float: left;
  position: relative;
  padding: 1rem;
}

nav ul a {
  color: white;
  text-decoration: none;
}

/* Navegación nivel 2 - dropdowns */
nav ul li ul {
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
  /* El submenú se oculta por defecto */
  z-index: 1;
  /* Y se posiciona por encima del menú padre */
}

nav ul li ul li {
  background: linear-gradient(
    180deg,
    rgba(31, 39, 48, 1) 46%,
    rgba(69, 143, 158, 1) 100%
  );
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  clear: both;
  padding: 5px 10px;
  min-width: 120px;
}

nav ul li:hover > ul,
ul li ul:hover {
  display: block;
  /* Se muestra cuando se resalta */
}

/* Menú fijado al scrollear */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Añadir padding encima para suavizar el efecto */
.sticky + .contenido {
  padding-top: 65px;
}

.titulo-bloque {
  background-color: rgb(192, 192, 192);
  text-align: center;
  border: 1px solid yellow;
  color: black;
}

/* Bloque de sinopsis */
#sinopsis p {
  padding: 15px;
}
/* Bloque de dirección */
#direccion {
  display: flex;
}
#direccion p {
  padding-left: 15px;
}
#direccion img {
  width: 220px;
  height: 308px;
}
/* Bloque de reparto */
#reparto {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 10px;
}

@media all and (min-width: 575px) {
  #reparto {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (min-width: 992px) {
  #reparto {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Fichas por protagonista */
.ficha {
  background: radial-gradient(
    circle,
    rgba(85, 85, 85, 1) 50%,
    rgba(47, 47, 47, 1) 100%
  );
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border: 1px solid #887221;
  transition: 0.5s ease-in-out;
}

.ficha:hover {
  border: 2px solid #41403f;
}

.ficha img {
  margin-top: 10px;
  width: 220px;
  height: 308px;
  align-self: center;
}

.ficha h3 {
  font-style: italic;
}

/*#multimedia {

}*/
#escenas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
}

#escenas img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
#plataformas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.ficha-plataforma {
  border: 1px solid white;
  width: 230px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.ficha-plataforma img {
  width: 230px;
  height: 230px;
}
#opinion {
  display: flex;
  flex-direction: row;
}
#formulario-opinion {
  display: flex;
}

.fichas-peliculas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
}

.fichas-peliculas img {
  width: 300px;
}

footer {
  padding-left: 15px;
  background-color: #1f2730;
  color: white;
}
